@model Sqlapp.Interfaces.ICourse

@{
    ViewData["Title"] = "Details Page";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
</head>

<div class="text-center">
    <h1 style="text-align:center">Details</h1>
</div>

@using (Html.BeginForm())
{
    <div class="row">
    <table class="table" table-dark">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Description</th>
                <th scope="col">Instructor</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">@Model.CourseID</th>
                    <td>@Model.CourseName</td>
                    <td>@Model.Rating</td>
                    <td>@Model.Description</td>
                    <td>@Model.Instructor</td>
                </tr>
        </tbody>
    </table>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}